@model MVCDemoApp.Models.OrderDisplayModel
@{
    ViewData["Title"] = "Display Order Placed";
}

<h1>Display</h1>

@{
    if (Model.Order is null)
    {
        <h2>Order not found</h2>
    }

    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Order Name</strong></td>
                    <td>@Model.Order.OrderName</td>
                </tr>
                <tr>
                    <td><strong>Order Date</strong></td>
                    <td>@Model.Order.OrderDate</td>
                </tr>
                <tr>
                    <td><strong>Order Total</strong></td>
                    <td>@string.Format("{0:C}", Model.Order.Total)</td>
                </tr>
                <tr>

                <tr>
                    <td><strong>Item Ordered</strong></td>
                    <td>@Model.ItemPurchased</td>
                </tr>

                <tr>
                    <td><strong>Quantity</strong></td>
                    <td>@Model.Order.Quantity</td>
                </tr>

                <tr>
                    <td>
                        <a asp-action="Delete" asp-route-id="@Model.Order.Id" class="btn btn-danger">Delete Order </a>
                    </td>
                </tr>
            </tbody>
        </table>


    }
    <form asp-action="Update">
        <input asp-for="Order.Id" value="@Model.Order.Id" class="form-control" type="hidden" />
        <input asp-for="Order.OrderName" value="@Model.Order.OrderName" class="form-control" />
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>


    <form asp-action="Delete">
        <input asp-for="Order.Id" value="@Model.Order.Id" class="form-control" type="hidden" />
        <input asp-for="Order.OrderName" value="@Model.Order.OrderName" class="form-control" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

}
