@page
@model RPDemoApp.Pages.Orders.DeleteModel
@{
    if (Model.Order is null)
    {
        <h2>Order not found</h2>
    }
    else
    {
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Order Name</strong></td>
                    <td>@Model.Order.OrderName</td>
                </tr>
                <tr>
                    <td><strong>Order Date</strong></td>
                    <td>@Model.Order.OrderDate</td>
                </tr>
                <tr>
                    <td><strong>Order Total</strong></td>
                    <td>@string.Format("{0:C}", Model.Order.Total)</td>
                </tr>
                <tr>
                    <td><strong>Quantity</strong></td>
                    <td>@Model.Order.Quantity</td>
                </tr>
            </tbody>
        </table>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="@Model.Id" class="form-control" type="hidden" />
            <input type="submit" value="Delete Order" asp-page-handler="DeleteOrder" class="btn btn-danger" />
        </form>
    }
}
